@import "{{ site.theme }}";




body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

// HEADER

.page-header {
  width: 100%;
  background-color: $blue-500;
  -webkit-transition: background-image 0.6s ease-in-out 0s;
  -moz-transition: background-image 0.6s ease-in-out 0s;
  -o-transition: background-image 0.6s ease-in-out 0s;
  transition: background-image 0.6s ease-in-out 0s;
  background-image: url('../img/olivebranch.png');
  background-repeat: no-repeat;
  background-position: center center;
}